*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search-bar{
    border: none;
    outline: none;
    width: 30vw;
    background-color: transparent;
    color: white;
}

.category-btn{
    background-color: #272727 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 8px 15px 6px;
    transition: all 0.3s ease;
}

.selected{
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.category-btn:hover{
    background-color: #373737 !important;
}

.react-player{
    height: 70vh !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.category{
    overflow-x: auto;
}

.category::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

.category::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.category::-webkit-scrollbar-thumb {
    background: #8a0917;
  }
  
.category::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media (max-width: 900px) {
    .react-player{
        height: 50vh !important;
    }

    .category-btn:hover{
        background-color: transparent !important;
    }
}

@media (max-width: 600px) {
    .react-player{
        height: 40vh !important;
    }
}